@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@import "./base.css";
@import "./typography.css";
@import "./spacing.css";
@import "./theme.css";

@theme {
/* Colors */
/* Stone colors for text */
--color-gray-50: oklch(0.985 0.002 85.873);
--color-gray-100: oklch(0.971 0.004 85.873);
--color-gray-200: oklch(0.943 0.008 85.873);
--color-gray-300: oklch(0.904 0.014 85.873);
--color-gray-400: oklch(0.738 0.022 85.873);
--color-gray-500: oklch(0.573 0.030 85.873);
--color-gray-600: oklch(0.459 0.025 85.873);
--color-gray-700: oklch(0.392 0.021 85.873);
--color-gray-800: oklch(0.274 0.015 85.873);
--color-gray-900: oklch(0.216 0.012 85.873);
--color-gray-950: oklch(0.137 0.008 85.873);
/* Light blue colors for background gradient */
--color-primary-50: oklch(0.985 0.015 220.847);
--color-primary-100: oklch(0.971 0.029 220.847);
--color-primary-200: oklch(0.942 0.058 220.847);
--color-primary-300: oklch(0.899 0.087 220.847);
--color-primary-400: oklch(0.843 0.116 220.847);
--color-primary-500: oklch(0.787 0.145 220.847);
--color-primary-600: oklch(0.731 0.174 220.847);
--color-primary-700: oklch(0.675 0.203 220.847);
--color-primary-800: oklch(0.619 0.232 220.847);
--color-primary-900: oklch(0.563 0.261 220.847);
--color-primary-950: oklch(0.507 0.290 220.847);
--color-secondary-50: oklch(0.984 0.014 180.72);
--color-secondary-100: oklch(0.953 0.051 180.801);
--color-secondary-200: oklch(0.91 0.096 180.426);
--color-secondary-300: oklch(0.855 0.138 181.071);
--color-secondary-400: oklch(0.777 0.152 181.912);
--color-secondary-500: oklch(0.704 0.14 182.503);
--color-secondary-600: oklch(0.6 0.118 184.704);
--color-secondary-700: oklch(0.511 0.096 186.391);
--color-secondary-800: oklch(0.437 0.078 188.216);
--color-secondary-900: oklch(0.386 0.063 188.416);
--color-secondary-950: oklch(0.277 0.046 192.524);

/* Typography */
--font-family: "Inter";
--font-fallback: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
--font-body: var(--font-family), var(--font-fallback);
--font-display: var(--font-body);
}