@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@import "./base.css";
@import "./typography.css";
@import "./spacing.css";
@import "./theme.css";

@theme {
/* Colors */
--color-gray-50: oklch(0.985 0 0);
--color-gray-100: oklch(0.967 0.001 286.375);
--color-gray-200: oklch(0.92 0.004 286.32);
--color-gray-300: oklch(0.871 0.006 286.286);
--color-gray-400: oklch(0.705 0.015 286.067);
--color-gray-500: oklch(0.552 0.016 285.938);
--color-gray-600: oklch(0.442 0.017 285.786);
--color-gray-700: oklch(0.37 0.013 285.805);
--color-gray-800: oklch(0.274 0.006 286.033);
--color-gray-900: oklch(0.21 0.006 285.885);
--color-gray-950: oklch(0.141 0.005 285.823);
--color-primary-50: oklch(0.962 0.018 272.314);
--color-primary-100: oklch(0.93 0.034 272.788);
--color-primary-200: oklch(0.87 0.065 274.039);
--color-primary-300: oklch(0.785 0.115 274.713);
--color-primary-400: oklch(0.673 0.182 276.935);
--color-primary-500: oklch(0.585 0.233 277.117);
--color-primary-600: oklch(0.511 0.262 276.966);
--color-primary-700: oklch(0.457 0.24 277.023);
--color-primary-800: oklch(0.398 0.195 277.366);
--color-primary-900: oklch(0.359 0.144 278.697);
--color-primary-950: oklch(0.257 0.09 281.288);
--color-secondary-50: oklch(0.984 0.003 247.858);
--color-secondary-100: oklch(0.968 0.007 247.896);
--color-secondary-200: oklch(0.929 0.013 255.508);
--color-secondary-300: oklch(0.869 0.022 252.894);
--color-secondary-400: oklch(0.704 0.04 256.788);
--color-secondary-500: oklch(0.554 0.046 257.417);
--color-secondary-600: oklch(0.446 0.043 257.281);
--color-secondary-700: oklch(0.372 0.044 257.287);
--color-secondary-800: oklch(0.279 0.041 260.031);
--color-secondary-900: oklch(0.208 0.042 265.755);
--color-secondary-950: oklch(0.129 0.042 264.695);

/* Typography */
--font-family: "Inter";
--font-fallback: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
--font-body: var(--font-family), var(--font-fallback);
--font-display: var(--font-body);
}