@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@import "./base.css";
@import "./typography.css";
@import "./spacing.css";
@import "./theme.css";

@theme {
/* Colors */
--color-gray-50: oklch(0.985 0.001 106.423);
--color-gray-100: oklch(0.97 0.001 106.424);
--color-gray-200: oklch(0.923 0.003 48.717);
--color-gray-300: oklch(0.869 0.005 56.366);
--color-gray-400: oklch(0.709 0.01 56.259);
--color-gray-500: oklch(0.553 0.013 58.071);
--color-gray-600: oklch(0.444 0.011 73.639);
--color-gray-700: oklch(0.374 0.01 67.558);
--color-gray-800: oklch(0.268 0.007 34.298);
--color-gray-900: oklch(0.216 0.006 56.043);
--color-gray-950: oklch(0.147 0.004 49.25);
--color-primary-50: oklch(0.984 0.003 247.858);
--color-primary-100: oklch(0.968 0.007 247.896);
--color-primary-200: oklch(0.929 0.013 255.508);
--color-primary-300: oklch(0.869 0.022 252.894);
--color-primary-400: oklch(0.704 0.04 256.788);
--color-primary-500: oklch(0.554 0.046 257.417);
--color-primary-600: oklch(0.446 0.043 257.281);
--color-primary-700: oklch(0.372 0.044 257.287);
--color-primary-800: oklch(0.279 0.041 260.031);
--color-primary-900: oklch(0.208 0.042 265.755);
--color-primary-950: oklch(0.129 0.042 264.695);
--color-secondary-50: oklch(0.979 0.021 166.113);
--color-secondary-100: oklch(0.95 0.052 163.051);
--color-secondary-200: oklch(0.905 0.093 164.15);
--color-secondary-300: oklch(0.845 0.143 164.978);
--color-secondary-400: oklch(0.765 0.177 163.223);
--color-secondary-500: oklch(0.696 0.17 162.48);
--color-secondary-600: oklch(0.596 0.145 163.225);
--color-secondary-700: oklch(0.508 0.118 165.612);
--color-secondary-800: oklch(0.432 0.095 166.913);
--color-secondary-900: oklch(0.378 0.077 168.94);
--color-secondary-950: oklch(0.262 0.051 172.552);

/* Typography */
--font-family: "Inter";
--font-fallback: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
--font-body: var(--font-family), var(--font-fallback);
--font-display: var(--font-body);
}